@import "./constants.scss";
@import "./typography.scss";

body {
  font-family: $primaryFont, sans-serif;
  color: $darkSlateGrey;
}

a {
  text-decoration: none;
  color: inherit;
}

.card {
  padding: 40px;
  margin: 20px;
  -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.33);
  -moz-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.33);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.33);
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  box-sizing: border-box;

  & > input, textarea {
    width: 100%;
    padding: 0.5rem;
    font-size: 18px;
    margin-bottom: 1rem;
    box-sizing: border-box;
  }

  & > button {
    width: fit-content;
    padding: 6px 12px;
    border-radius: 4px;
    border: 1px solid $darkSlateGrey;
    margin: auto;
  }

  & > .footer-text {
    margin: 1rem;
    text-align: center;

    & > span {
      text-decoration: underline;
      cursor: pointer;
    }
  }
}